* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #6f6f6f;
  --primary-color: #e9e9e9;
  --darken-primary-color: #e2e2e2;
  --accent-color: #ff7e14;
  --darken-accent-color: #ff7707;
}

.app__container {
  width: 90%;
  max-width: 560px;
  margin: 3rem auto;
}

.app__copyright {
  text-align: center;
  color: gray;
}